@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes star {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

.star {
  display: block;
  background-color: #fff;
  border-radius: 100%;
  position: fixed;
  z-index: 1;
  animation: star infinite linear both;
}
