html,
body {
  overflow: hidden;
}

input,
textarea {
  border-radius: 0;
  outline: none;
}

button,
button:focus {
  outline: none;
  appearance: none;
}

@layer utilities {
  .filter-shadow {
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.3));
  }

  .text-shadow-none {
    text-shadow: none;
  }
  .text-shadow-lw {
    text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  }
  .text-shadow-ls {
    text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-sw {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }
  .text-shadow-ss {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .shadow-lw {
    box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-ls {
    box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
  }
  .shadow-sw {
    box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-ss {
    box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
  }
}

.scroll-content {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.home-rocket {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: -180px;
  right: -120px;
  transform: translateY(0) scale(1);
  z-index: 20;

  @screen sm {
    display: block;
    width: 400px;
    height: 400px;
    top: -100px;
    right: -200px;
    transform: translate(0) scale(1);
  }
  @screen lg {
    display: block;
    width: 500px;
    height: 500px;
    top: -150px;
    right: -240px;
  }
  @screen xl {
    width: 600px;
    height: 600px;
    top: -150px;
  }
  @screen 2xl {
    width: 700px;
    height: 700px;
  }

  div {
    width: 100%;
    height: 100%;
    background: url("/air.svg") bottom left / cover no-repeat;
    transform: rotate(90deg);

    @screen sm {
      transform: rotate(0);
    }

    &::before {
      content: "";
      width: 100px;
      height: 85px;
      background: url("/rocket.svg") center / contain no-repeat;
      transform: translate(0);
      transition: transform 1s ease-in;
      position: absolute;
      bottom: 0;
      left: -110px;

      @screen md {
        width: 120px;
        height: 102px;
        bottom: 10px;
        left: -120px;
      }
      @screen lg {
        width: 140px;
        height: 120px;
        bottom: 20px;
        left: -150px;
      }
      @screen xl {
        width: 160px;
        height: 136px;
        bottom: 30px;
        left: -200px;
      }
      @screen 2xl {
        width: 180px;
        height: 153px;
        bottom: 50px;
      }
    }
  }
}

.project-desc {
  p,
  div,
  ul {
    &:not(:last-child) {
      @apply mb-2 lg:mb-4;
    }
  }
  ul {
    @apply list-disc leading-tight pl-5;
  }

  li + li {
    @apply mt-2 lg:mt-3;
  }
}
